{# @var \Kreyu\Bundle\DataTableBundle\View\DataTableViewInterface data_table #}

{% trans_default_domain 'KreyuDataTable' %}

{#{% if sort_field %}
    {% set query_parameters = app.request.query.all() %}

    {% set sort_parameter_name = parent.sort_parameter_name %}

    {% set current_sort_field = query_parameters[sort_parameter_name]['field']|default(null) %}
    {% set current_sort_direction = query_parameters[sort_parameter_name]['direction']|default(null) %}

    {% set opposite_sort_direction = current_sort_direction == 'desc' ? 'asc' : 'desc' %}

    <a href="{{ path(app.request.get('_route'), app.request.query.all|merge({
        (sort_parameter_name ~ '[field]'): sort_field,
        (sort_parameter_name ~ '[direction]'): opposite_sort_direction
    })) }}">
        {{ include('@KreyuDataTable/column_label.html.twig', _context) }}

        {% if sort_field == current_sort_field %}
            {% if current_sort_direction == 'asc' %}˄{% else %}˅{% endif %}
        {% endif %}
    </a>
{% else %}#}
    {{ include('@KreyuDataTable/column_label.html.twig', _context) }}
{#{% endif %}#}

{% if display_personalization_button %}
    <a href="#" class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#{{ data_table.vars.personalization_form.name }}">🔧</a>
{% endif %}
