{# @var \Kreyu\Bundle\DataTableBundle\View\DataTableViewInterface data_table #}

{% trans_default_domain 'KreyuDataTable' %}

{% if sort_field %}
    {% set query_parameters = app.request.query.all() %}

    {% set current_sort_field = query_parameters[data_table.sortParameterName]['field']|default(null) %}
    {% set current_sort_direction = query_parameters[data_table.sortParameterName]['direction']|default(null) %}

    {% set opposite_sort_direction = current_sort_direction == 'desc' ? 'asc' : 'desc' %}

    <a href="{{ path(app.request.get('_route'), app.request.query.all|merge({
        (data_table.sortParameterName ~ '[field]'): sort_field,
        (data_table.sortParameterName ~ '[direction]'): opposite_sort_direction
    })) }}">
        {{ include('@KreyuDataTable/column_label.html.twig', _context) }}

        {% if sort_field == current_sort_field %}
            {% if current_sort_direction == 'asc' %}˄{% else %}˅{% endif %}
        {% endif %}
    </a>
{% else %}
    {{ include('@KreyuDataTable/column_label.html.twig', _context) }}
{% endif %}

{% if display_personalization_button %}
    <a href="#" class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#{{ data_table.personalizationFormName }}">🔧</a>
{% endif %}