{% trans_default_domain 'KreyuDataTable' %}

{% if form.count > 0 %}
    <div class="mb-4">
        {{ form_start(form) }}
            <div class="row">
                {% for child in form.children %}
                    <div class="col-12 col-lg-3 col-md-6">
                        {{ form_row(child) }}
                    </div>
                {% endfor %}
            </div>
            <div class="text-end">
                <button class="btn btn-primary">{{ 'Filter'|trans({}, 'KreyuDataTable') }}</button>
            </div>
        {{ form_end(form) }}
    </div>
{% endif %}
