{% trans_default_domain 'KreyuDataTable' %}

{% set template = '@KreyuDataTable/data_table_theme.html.twig' %}

<tr>
    {% for column in columns %}
        <td>{{ data_table_column_header(column) }}</td>
    {% endfor %}
</tr>

{#{% if block(block_name, template) is defined %}
    {{- block(block_name, template) -}}
{% else %}
    {{- value -}}
{% endif %}#}
